<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <correios>
                <active>0</active>
                <title>Correios</title>
                <name>Correios</name>
                <acknowledgment_of_receipt>0</acknowledgment_of_receipt>
                <default_width>10</default_width>
                <default_height>1</default_height>
                <default_length>15</default_length>
                <max_width>100</max_width>
                <max_height>100</max_height>
                <max_length>100</max_length>
                <max_weight>30</max_weight>
                <handling_fee>0</handling_fee>
                <display_delivery_time>0</display_delivery_time>
                <increment_days_in_delivery_time>0</increment_days_in_delivery_time>
                <showmethod>0</showmethod>
                <height_attribute>altura_correios</height_attribute>
                <length_attribute>comprimento_correios</length_attribute>
                <width_attribute>largura_correios</width_attribute>
                <sort_order>1</sort_order>
                <model>Tezus\Correios\Model\Carrier\Correios</model>
            </correios>
        </carriers>
    </default>
</config>